<div class="posts-list">
  <ul>
    <li *ngFor="let post of post_showHTML; let post_i = index" [appCallOnInit]="createCallback(post.id)">
      <div class="instagram-post">
        <div class="post-header">
          <img src="{{ post.userAvatar }}" alt="Profile" class="profile-picture" />
          <div class="user-info">
            <span class="username">{{ post.userName }}</span>
            <span class="post-time">
              {{ post.createdAt | date : "short" }}
            </span>
          </div>
        </div>
        <div class="post-image" *ngIf="post.images && post.images.length > 0; else noImage">
          <!-- Post Image Carousel -->
          <div id="carousel-{{ post_i }}" class="carousel slide post-image" data-bs-ride="false">
            <div class="carousel-inner">
              <div *ngFor="let media of post.images; let i = index" class="carousel-item" [class.active]="i === 0">
                <!-- Kiểm tra nếu media là video -->
                <ng-container *ngIf="isVideo(media); else showImage">
                  <video [src]="media" class="d-block w-100" controls title="Video {{ i + 1 }}">
                    ko HIEN THI DC VIDEO
                  </video>
                </ng-container>
                <!-- Nếu là ảnh -->
                <ng-template #showImage>
                  <img [src]="media" class="d-block w-100" alt="Image {{ i + 1 }}" />
                </ng-template>
              </div>
            </div>

            <!-- Dấu chấm dot -->
            <ol class="carousel-indicators">
              <li *ngFor="let image of post.images; let i = index" [attr.data-bs-target]="'#carousel-' + post_i"
                [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
            </ol>

            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + post_i"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + post_i"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>
          <!------>
        </div>

        <div class="post-interactions">
          <div class="interactions">
            <div class="likes">
              <div class="button-like" (click)="Like(post.id)">
                <i *ngIf="!post.liked" class="bi bi-heart icon" [ngClass]="{ 'fade-in': !post.liked }"></i>
              </div>

              <div class="button-unlike" (click)="UnLike(post.id)">
                <i *ngIf="post.liked" class="bi bi-heart-fill icon" style="color: red"
                  [ngClass]="{ 'fade-in': post.liked }"></i>
              </div>
            </div>

            <div class="comment" (click)="showComment(post.id)">
              <i class="bi bi-chat-left icon"></i>
            </div>
            <div class="share"><i class="bi bi-send icon"></i></div>
          </div>
          <div class="caption" *ngIf="post.images && post.images.length > 0">
            <span><strong>{{ post.userName }}</strong> {{ post.content }}</span>
          </div>
          <div class="total-like">
            <span>{{ post.totalLike }} lượt thích</span>
          </div>
          <ng-template #noImage>
            <div class="caption" style="padding-left: 10px">
              <span>{{ post.content }}</span>
            </div>
          </ng-template>
          <div (click)="showComment(post.id)" class="comments" style="cursor: pointer">
            <span>Xem tất cả {{ post.totalComment }} bình luận</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

