<div class="story-list">
  <!-- Story Item -->
  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 1" />
    </div>
    <div class="story-name">nh.3.linh</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 2" />
    </div>
    <div class="story-name">boyoung00</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 3" />
    </div>
    <div class="story-name">lebong95</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 4" />
    </div>
    <div class="story-name">roses_are_red</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 5" />
    </div>
    <div class="story-name">leomessi</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 6" />
    </div>
    <div class="story-name">dailywithleo</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 7" />
    </div>
    <div class="story-name">minminmin</div>
  </div>

  <div class="story-item">
    <div class="story-image">
      <img src="https://via.placeholder.com/60" alt="Profile 8" />
    </div>
    <div class="story-name">thepodcast</div>
  </div>
</div>

<div class="posts-list">
  <ul>
    <li *ngFor="let post of posts; let post_i = index">
      <div class="instagram-post">
        <div class="post-header">
          <img
            src="https://via.placeholder.com/60"
            alt="Profile"
            class="profile-picture"
          />
          <div class="user-info">
            <span class="username">may__lily</span>
            <span class="post-time"
              >· {{ post.createdAt | date : "short" }}</span
            >
          </div>
        </div>
        <div
          class="post-image"
          *ngIf="post.images && post.images.length > 0; else noImage"
        >
          <!-- Post Image Carousel -->
          <div id="carousel{{post_i}}" class="carousel slide post-image" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of post.images; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="image" class="d-block w-100" alt="Image {{i + 1}}">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouse" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!------>
        </div>

        <div class="post-interactions">
          <div class="interactions">
            <div class="likes"><i class="bi bi-heart icon"></i></div>
            <div class="comment"><i class="bi bi-chat-left icon"></i></div>
            <div class="share"><i class="bi bi-send icon"></i></div>
          </div>
          <div class="total-like"><span>18,254 lượt thích</span></div>
          <ng-template #noImage>
            <div class="caption">
              <span><strong>may__lily</strong> {{ post.content }}</span>
            </div>
          </ng-template>
          <div class="comments">
            <span>Xem tất cả 25 bình luận</span>
          </div>
          <div class="add-comment">
            <textarea placeholder="Thêm bình luận..."></textarea>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<button (click)="Show_Post_By_UserID()">show</button>
