.profile{
  margin: 10px;
  /* padding: 15px; */
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;

}
.choseCover{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
}
.choseAvatar{
  position: absolute;
      bottom: 0;
      left: -20px;
      width: 100px;
      z-index: 2;
      cursor: pointer;

}
.image-profile {
      position: relative;
      height: 300px;
    }
    .file-input {
      opacity: 0;
      width: 100px;
      width: 200px;
      z-index: 2;
    }
    .file-input:hover{
      cursor: pointer;
    }
.cover-photo{
  object-fit: cover; /* Bao phủ toàn bộ thẻ cha mà không làm biến dạng ảnh */
  object-position: center; /* Căn giữa hình ảnh */
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
    .avatar {
      position: absolute;
      bottom: -50px;
      left: 20px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 4px solid #fff;
      object-fit: cover;
      cursor: pointer;

    }
    .avatar:hover{
      border: #0095f6;
    }

    .profile-info {
      margin-top: 60px;
    }

    .profile-details{
      padding-left: 20px;
      padding-right: 20px;
    }
    .profile-details ul {
      list-style: none;
      padding: 0;
    }

    .profile-details ul li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .profile-details ul li i {
      margin-right: 10px;
      font-size: 1.2rem;
      color: #555;
    }



    .featured-photos {
      padding-left: 20px;
      padding-right: 20px;
    }

    .photo-list {
      display: flex; /* Sử dụng Flexbox để sắp xếp các phần tử ngang */
      gap: 10px; /* Khoảng cách giữa các phần tử */
      list-style: none; /* Loại bỏ dấu chấm đầu dòng */
      padding: 0; /* Loại bỏ khoảng cách mặc định của ul */
    }

    .photo-item {
      width: 100px; /* Kích thước cố định cho chiều rộng */
      height: 100px; /* Kích thước cố định cho chiều cao */
      object-fit: cover; /* Đảm bảo ảnh lấp đầy khung mà không bị méo */
      border-radius: 5px; /* Bo tròn các ảnh */
    }

    .edit-profile{
      display: flex;
      align-items: center;
      margin-bottom: 10px;

    }
    .edit-profile i{
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
    }


    /* -------css for feed-------- */
    .posts-list{
      margin-left: 10px;
      margin-right: 10px;
      box-sizing: border-box;
      padding-bottom: 100px;

    }

    .posts-list ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .posts-list li{
      margin-bottom: 20px;
    }
    .instagram-post {
      margin: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0px 0px 2px rgba(197, 197, 197, 0.5);
    }

    .post-header {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .edit{
      margin-left: auto;
    }
    .edit i{
      font-size: 24px;
      color: black;
    }
    .edit .icon{
      font-size: 16px;
    }
    .dropdown-toggle {
      background: none; /* Loại bỏ nền */
      border: none; /* Loại bỏ đường viền */
      padding: 0; /* Loại bỏ khoảng cách xung quanh biểu tượng */
      display: inline-flex; /* Đảm bảo biểu tượng nằm gọn trong không gian nhỏ */
      align-items: center; /* Căn giữa biểu tượng theo chiều dọc */
      justify-content: center;
    }
    .dropdown-toggle:focus,
    .dropdown-toggle:hover {
      background: none; /* Không thay đổi khi hover hoặc focus */
      box-shadow: none; /* Loại bỏ hiệu ứng focus */
    }



    .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-info {
      display: flex;
      flex-direction: column;
    }

    .username {
      font-weight: bold;
    }

    .post-time {
      color: #888;
      font-size: 12px;
    }
    .post-image{
    width: 100%;
    height:585px;
    overflow: hidden;
    display: flex; /* Sử dụng flexbox để căn giữa */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    }
    .post-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    .post-interactions {
      padding: 10px;
    }
    .interactions{
      display: flex;
      flex-direction: row;
    }
    .interactions .icon {
      display: inline-block; /* Quan trọng */
      font-size: 18px;
      padding: 7px;
      transition: transform 0.3s ease;
      transform: scale(1);
    }

    .interactions .icon:hover {
      cursor: pointer;
      transform: scale(1.4);
      color: #0095f6;
    }
     .caption, .comments {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .comment_out textarea {
      width: 100%;
      padding: 8px;
      height: 50px;
      max-height: 100px;
      font-size: 14px;
      resize: none; /* Ngăn kéo dãn ô nhập liệu */
      outline: none; /* Loại bỏ viền khi focus */
      box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
      border: none;
    }
    .comment_out textarea:focus {
      border: none; /* Xóa viền khi focus */
      outline: none;
    }

    .carousel-indicators li {

      list-style: none;
    }

    /* Định nghĩa hiệu ứng fade-in */
    .fade-in {
      animation: fadeIn 0.5s ease-in-out;
    }

    /* Keyframes cho hiệu ứng fade-in */
    @keyframes fadeIn {
      from {
        opacity: 0; /* Bắt đầu từ mờ */
      }
      to {
        opacity: 1; /* Kết thúc ở trạng thái rõ ràng */
      }
    }


    /* commenttt */
    .post-details-overlay-in {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.795);

      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;

    }
    .content-post-in{

    }


    .post-details-content-in {
      background: white;
      border-radius: 10px;
      width: 60%;
      padding: 20px;
      display: flex;
      flex-direction: row;


    }
    .left-in{
    width: 100%;
    min-height: 500px;
    }
    .right-in{
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    }
    .header-in {
      display: flex;
      align-items: center;
      height: 10%;
      border-bottom: 1px solid rgb(148, 148, 148);
      position: relative;
    }

    .user-avatar-in {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 5px;

    }

    .user-info-in {
      display: flex;
      flex-direction: column;

    }

    .username-in {
      font-weight: bold;
      margin-left: 5px;
    }

    .post-time-in {
      font-size: 0.9rem;
      color: gray;
    }

    .close-btn-in {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
      right: 0;
    }
    .close-btn-in :hover{
      font-size: 25px;
      color: #c40707;
    }

    .post-image-in img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .caption-in {
      margin-top: 10px;
      font-size: 1rem;
      margin-bottom: 10px;

    }
    .content-user-in{
      margin-left: 10px;
    }

    .comments-in {
      margin-top: 5px;
      overflow-y: auto;
      max-height: 400px;
      height: 80%;
      box-sizing: border-box;

    }

    .getComment-in {
      display: flex;
      gap: 5px;
      margin-bottom: 10px;
      align-items: center;
      box-sizing: border-box;
    }

    .coment-input-arena {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 5px;
      position: absolute;
      bottom: 0; /* Dính ở dưới */
      width: 100%;


    }

    .coment-input-arena input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .coment-input-arena .btn-send-in {
      background-color: #0095f6;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    .coment-input-arena .btn-send:hover {
      background-color: #007bbf;
    }
