<div class="main">
  <div class="row_1">
<div class="avatar">
  <img src="assets/images/Sơn_Tùng_M-TP_-_Chúng_ta_của_tương_lai.png" alt="">
</div>
<div class="dropdown">
  <a
    class="btn btn-outline-secondary dropdown-toggle btn-sm"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
  <i class="bi bi-file-lock"></i> Private
  </a>

  <ul class="dropdown-menu custom-dropdown">
    <li>
      <a class="dropdown-item" href="#"
        ><i class="bi bi-globe-asia-australia"></i> Public</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#"
        ><i class="bi bi-file-lock"></i> Private</a
      >
    </li>
  </ul>
</div>

</div>

  <div class="row_2">

  </div>
  <div class="row_3">

  </div>
  <div class="row_4">

  </div>
</div>
