
<div class="background">
  <div class="chat-container">
    <div class="chat-header">
      <div (click)="backMess()" class="icon-left">
        <i class="bi bi-arrow-return-left " style="padding-right: 5px; font-size: 24px;" ></i>
      </div>
      <div class="icon-right">
        <i class="bi bi-info-circle" style="font-size: 24px;"></i>
      </div>
    </div>

    <div class="chat-box" #chatBox>

       <div class="message-wrapper-sent">
        <div class="message-sent">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>

       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>

       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
       <div class="message-wrapper-received">
        <div class="message-received">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>

       <div class="message-wrapper-sent">
        <div class="message-sent">
          <p>Hello! How are you? </p>
        </div>
        <span class="time">10:00 AM</span>
       </div>
    </div>

    <div class="chat-input">
      <input type="text" id="messageInput" placeholder="Type a message..." />
      <button id="sendButton"><i class="bi bi-send"></i>Send</button>
    </div>
  </div>
</div>
