

<div class="tab-mess">
  <div class="chat-container">
    <div class="chat-header">
      <div class="avatar-header">
        <img src="http://localhost:8080/api/files/1732527832303_hung2.jpg" alt="avatar header" loading="lazy" width="200" height="200">
      </div>
      <div class="name-header">
        <div class="username"><strong>Đặng Hùng</strong></div>
        <div class="user-status"><span>Đang hoạt động</span></div>
      </div>
    </div>
    <div #chatContainer class="chat-content">
      <div class="mess-background">
        <img class="img-avatar" src="http://localhost:8080/api/files/1732527832303_hung2.jpg" alt="avatar header" loading="lazy" width="200" height="200">
        <div class="message from-other">
          <span class="message-text">Hahah nma vẫn đẹp phết</span>
          <span class="message-time">18:06 8 Tháng 2, 2024</span>
        </div>
      </div>

      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-other">
        <span class="message-text">Hahah nma vẫn đẹp phết</span>
        <span class="message-time">18:06 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-other">
        <span class="message-text">Hahah nma vẫn đẹp phết</span>
        <span class="message-time">18:06 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-other">
        <span class="message-text">Hahah nma vẫn đẹp phết</span>
        <span class="message-time">18:06 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-other">
        <span class="message-text">Hahah nma vẫn đẹp phết</span>
        <span class="message-time">18:06 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-other">
        <span class="message-text">Hahah nma vẫn đẹp phết</span>
        <span class="message-time">18:06 8 Tháng 2, 2024</span>
      </div>
      <div class="message from-user">
        <span class="message-text">Quất giờ mới ra hoa còn đào thì nó sắp rụng hết rồi 😂</span>
        <span class="message-time">18:31 8 Tháng 2, 2024</span>
      </div>
    </div>
    <div class="chat-input">
      <div class="message-input">
        <textarea #messageInput  placeholder="Chat..." rows="3"></textarea>
        <button class="send-btn">Sent</button>
      </div>
    </div>
  </div>
</div>
