<div class="content">
  <ul>
    <li>
      <div class="inside">
        <div class="avatar">
          <img
            src="assets/images/HomePage/Wukong.jpg"
            alt="avatar"
            height="50px"
            width="50px"
          />
        </div>
        <div class="mid">
          <div class="name">
            <div class="name_user">
              <p style="font-weight: bold">Đặng Hùng</p>
            </div>
          </div>
          <div class="Mess">
            <img
              src="assets/images/HomePage/Wukong.jpg"
              style="
                width: 16px;
                height: 16px;
                border-radius: 50%;
                margin-right: 10px;
              "
              alt="avatar"
            />
            <p>Mutual friend</p>
          </div>
        </div>
        <div class="time">
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-person-check" ></i> Accept
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-person-slash" ></i> Deny
          </button>
        </div>
      </div>
    </li>
    <li>
      <div class="inside">
        <div class="avatar">
          <img
            src="assets/images/HomePage/Wukong.jpg"
            alt="avatar"
            height="50px"
            width="50px"
          />
        </div>
        <div class="mid">
          <div class="name">
            <div class="name_user">
              <p style="font-weight: bold">Đặng Hùng</p>
            </div>
          </div>
          <div class="Mess">
            <img
              src="assets/images/HomePage/Wukong.jpg"
              style="
                width: 16px;
                height: 16px;
                border-radius: 50%;
                margin-right: 10px;
              "
              alt="avatar"
            />
            <p>Mutual friend</p>
          </div>
        </div>
        <div class="time">
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-person-check" ></i> Accept
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-person-slash" ></i> Deny
          </button>
        </div>
      </div>
    </li>


  </ul>
</div>
