<div class="content">
  <ul>
    <li *ngFor="let notifi of listNotifi">
      <div class="inside">
        <!-- Avatar -->
        <div class="avatar">
          <img
            [src]="notifi.avatarNotifi"
            alt="avatar"
            height="50"
            width="50"
          />
        </div>

        <!-- Mid Section -->
        <div class="mid">
          <div class="name">
            <div class="name_user">
              <p style="font-weight: bold;">{{ notifi.usernameNotifi }}</p>
            </div>
            <div class="name_noti">
              <p style="font-style: italic;">{{ notifi.content }}</p>
            </div>
          </div>

        </div>

        <!-- Time -->
        <div class="time">
          <p>{{ notifi.createdAt | date: "short" }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
