<div class="main">
  <div class="header_profile">
   <div class="title">
    <h6 style="margin: 0; padding: 15px;">Edit Profile</h6>
   </div>
   <div class="buttons">
    <div class="save">
      <button><i class="bi bi-save"></i>Save</button>
    </div>
    <div class="new">
      <button><i class="bi bi-trash"></i>Reset</button>
    </div>
   </div>
  </div>
  <div class="edit_profile">
  <ul >
    <li>
      <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-house-door"></i>Education</label>
      <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
    </li>
    <li>
      <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-geo-alt"></i>Countryside</label>
      <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
    </li>
    <li>
      <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-globe"></i>Link</label>
      <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
    </li>
    <li>
      <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-envelope"></i>Email</label>
      <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
    </li>
    <li>
      <label for="exampleFormControlInput1" class="form-label"><i class="bi bi-music-note-beamed"></i>Love Song</label>
      <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
    </li>
  </ul>

  </div>

  <div class="header_profile">
    <div class="title">
      <h6 style="margin: 0; padding: 15px;">Edit Account</h6>
     </div>
     <div class="buttons">
      <div class="save">
        <button><i class="bi bi-save"></i>Save</button>
      </div>

     </div>
  </div>
  <div class="edit_profile">
    <ul >
      <li>
        <div class="account">
          <i class="bi bi-person" style="margin: 0;padding: 0; margin-right: 5px; font-size: 20px;"> </i>
          <h6 style="margin: 0;padding: 0; margin-right: 5px;">Account:</h6>
          <h6 style="margin: 0; padding: 0;">Đặng Hùng</h6>
        </div>

      </li>
      <li>
        <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-lock"></i>Password</label>
        <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
      </li>
      <li>
        <label for="exampleFormControlInput1" class="form-label"> <i class="bi bi-lock"></i>Confirm Password</label>
        <input type="" class="form-control" id="exampleFormControlInput1" placeholder="">
      </li>

    </ul>

    </div>
</div>
