.container_sub {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  overflow: hidden;
}

.left {
  border-left: 1px solid #aaaaaa;
}

.middle {
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}



.middle {
  overflow-y: auto;
  position: relative;
}
.Content_Change{
  width: 80%;
  position: absolute;
  left: 50%; /* Đưa thẻ con vào giữa theo chiều ngang */
  transform: translateX(-50%); /* Đặt thẻ con chính xác vào giữa */
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #aaaaaa;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.titlePage {
  grid-column-start: 1;
}

.tilePage p {
  margin: 10px;
  font-size: 24px;
  font-family: "Pacifico", cursive;
}

.reload {
  grid-column-start: 2;
  justify-content: end;
  display: flex;
  align-items: center;
  margin-right: 10px;

}

.reload i:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
  cursor: pointer;
}


/*------Middd__*/




/*----Leftt----*/
.left {
  top: 0;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.button-left{
  border: 1px solid #aaaaaa !important;
}
.content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}


.active {
  background-color: #979a9c;
  color: white;
}

.content_mid {
  display: flex;
  justify-content: center;
}

.content_mid_sub button {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;

}

.content_mid_sub button i {
  margin-right: 5px;
}

.content_mid_sub button i {
  font-size: 20px;
}

.content_mid_sub button:hover {
  background-color: #979a9c;
  color: white;
}

.div p {
  margin: 0;
  padding-left: 10px;
}

.div i {
  font-size: 24px;
}

.div_logo_image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.div_logo_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  place-items: center;

}

.div_logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_top p {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}







/* Ẩn thanh cuộn mặc định */
.middle {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.middle::-webkit-scrollbar {
  width: 0;
  /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}

ngx-spinner {
  z-index: 9999;
  /* Đảm bảo spinner xuất hiện trên các thành phần khác */
}


/* Khi màn hình thu nhỏ */
@media (max-width: 1000px) {
  .container_sub {
    grid-template-columns: 1fr; /* Cột giữa chiếm toàn bộ chiều rộng */
    grid-template-rows: 105vh auto; /* Thêm hàng cho menu ngang */
  }

  .right.hidden {
    display: none;
  }
  .left.hidden{

    grid-row-start: 2; /* Đưa cột trái xuống cuối */
    grid-row-end:3  ;
    grid-column-start: 1 ;
    grid-column-end:2 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    height:60px;
    opacity: 0;

  transition: opacity 0.3s ease, transform 0.3s ease;

  }
  .left.hidden:hover{
    opacity: 1;
    transition: transform 1s ease,opacity 0.3s ease;
  }
  .middle {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 1 ;
    grid-row-end:2 ;
  }
  .content_top{
    display: none;
  }
  .content_mid_sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Khoảng cách đều cả trong và ngoài */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    width: 100%;

  }
  .button-left{
    display: flex;
    flex-direction: column;
  }




}



