.container_sub {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Chia thành ba cột với tỷ lệ 1:2:1 */
 grid-template-rows: 100vh auto 100vh;

  height: 100vh;
  overflow: hidden; /* Ngăn việc cuộn của toàn bộ container */
}
.left, .middle, .right {
  border: 1px solid #eeeded;
}
.middle{
  overflow-y: auto;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0dcdc;
  position: sticky;
  top: 0;
}
.titlePage{
  grid-column-start: 1;
}
.tilePage p{
  margin: 10px;
  font-size: 24px;
  font-family: "Pacifico", cursive;

}
.reload{
 grid-column-start:2 ;
 justify-content: end;
 display: flex;
 align-items: center;
 margin-right: 10px;
}
/*------Middd__*/
.post{
  margin: 10px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.5);
}
.whatthing{
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5 ;
  align-items: center;
  justify-content: center;
  width: 460px;
}
.whatthing input{
  border-radius: 40px;
}
.avatar{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
  height: 80px;
}
.avatar img{
  border-radius: 50%;

}
.line{
  grid-column-start: 1;
  grid-column-end: 6 ;
  border-top:1px solid rgb(175, 175, 175) ;
  margin-left: 10px;
  margin-right: 10px;

}
.addImage{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}
.addImage p{
  padding-left: 10px;
  margin: 0;

}
.addVideo{
  grid-column-start: 4;
  display: flex;
  align-items: center;
  height: 50px;
}
.addVideo p{
  padding-left: 10px;
  margin: 0;
}
.newFeed{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 60px auto 300px auto auto ;
  margin: 10px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.5);

}
.Feed_Header{
  grid-column-start: 2;
  grid-row-start:1 ;
  grid-row-end:2 ;
  display: flex;
  align-items: center;
  margin-top: 15px;

}
.Feed_Header ul{
  list-style: none;
  margin: 0;

}
.Feed_Header ul li{
  margin-left: 10px;
}

.Feed_Header_Avatar img{
  border-radius: 50%;
}
.Feed_Header_Name p{
  margin: 0;

}
.Feed_Header_Time p{
  margin: 0;

}
.Feed_Status{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:2 ;
  grid-row-end:3;
}
.Feed_Status p{
  margin: 0;
  margin-top: 10px;
  margin-left: 62px;
  margin-bottom: 10px;
  word-wrap: break-word; /* hoặc dùng word-break */
  white-space: normal;
}
.Feed_Media{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:3 ;
  grid-row-end:4;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden; /* Đảm bảo ảnh không vượt ra ngoài */
}
.Feed_Media img {

  object-fit: contain;
border-radius: 10px;
width: 100%;
height: 100%;
object-fit: fill;
}
.Feed_Interact{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:4 ;
  grid-row-end:5;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.Feed_Comment_Input input{
  border-radius: 20px;

}
.Feed_Comment_Input{
  margin-left: 10px;
  width: 100%;
}
.Feed_Comment_icon{
  margin-left: 10px;
}
.Feed_Interact i{
  font-size: 20px;
}
.Feed_Comments{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:5 ;
  grid-row-end:6;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.Feed_Commnets_Ava img{
  border-radius: 50%;
}
.Feed_Commnets_Ava{
  margin-left: 40px;
}
.Feed_Comment_text{
  background-color: rgb(247, 240, 240);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-left: 10px;

}
.Feed_Comment_text p{
  margin: 0;
   word-wrap: break-word; /* hoặc dùng word-break */
  white-space: normal;
  margin: 10px;
  font-size: 14px;
}
.arena_showcomment ul{
  list-style: none;
}
.arena_showcomment li{
display: flex;
align-items: center;
margin-bottom: 20px;
}

.list_NewFeed ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/*----Leftt----*/
.left{
  top: 0;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.content{
  grid-column-start:2 ;
  grid-column-end: 3 ;
  display: grid;
  grid-template-rows:1fr 2fr 1fr;
}
.div {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(231, 231, 231);
  padding-left: 10px;
  padding-right: 10px;


}
 .div:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.active{
  background-color: #979a9c;
    color: white;
}
.content_mid{
   display: flex;
   justify-content: center;
}
  .content_mid_sub button{
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
  }
  .content_mid_sub button i{
    font-size: 20px;
  }
  .content_mid_sub button:hover{
    background-color: #979a9c;
    color: white;
  }

.div p{
  margin: 0;
  padding-left: 10px;
}
.div i{
  font-size: 24px;
}
.div_logo_image img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.div_logo_image{
  text-align: center

}
.div_logo{
display: flex;
justify-content: center;
}
.content_top {
display: flex;
justify-content: center;
align-items: center;
}
.content_top p{
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}
.right{
  top: 0;
  position: sticky;
  display:grid;
  grid-template-columns: 10% 40% 40% 10% ;
  grid-template-rows:20px 60px auto ;
}
.input{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
}
.input input{
  border-radius: 50px;
}
.input_icon{
  display: flex;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: end;
}
.input_icon i{
  font-size: 24px;
  padding-left: 3px;
}
.input_icon .boder_icon{
  border: 1px solid rgb(199, 199, 199);
  border-radius: 50px;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
}
.online{
  grid-row-start: 3;
  grid-column-start:2 ;
  grid-column-end: 4;
  margin-top: 20px;
}
.online ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.online li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.online li p{
  margin: 0;
  margin-left: 10px;
}
.online li img{
  border-radius: 50%;

}
.online .circle-icon{
background-color: green;
border-radius: 50%;
height: 16px;
width: 16px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
margin-left: 25px;
margin-top: 25px;
}
.img_dot{
  display: flex;
  position: relative;
}

/* Ẩn thanh cuộn mặc định */
.middle {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.middle::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}


