<div class="container" (childEvent)="setTitle('Personal-profile')">
  <div class="container_sub">
    <!-- Left Column -->
    <div id="menu" class="left hidden ">
      <div class="content">
        <!-- Logo Section -->
        <div class="content_top">
          <div class="div_logo">
            <div class="div_logo_image">
              <img src="assets/images/HomePage/logo_HungSocial.png" alt="logo web" />
            </div>
            <p>HungSocial</p>
          </div>
        </div>

        <!-- Menu Section -->
        <div class="content_mid">
          <div class="content_mid_sub">
            <ng-container *ngFor="let menu of menus">
              <button
                type="button"
                class="btn btn-outline-secondary button-left"
                [routerLink]="menu.link"
                routerLinkActive="active"
                (click)="setTitle(menu.title)"
              >
                <i [class]="menu.icon"></i>
                {{ menu.label }}
              </button>
            </ng-container>
             <!-- Logout Button -->
          <button type="button" class="btn btn-outline-secondary button-left" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            Logout
          </button>
          </div>
        </div>


      </div>
    </div>

    <!-- Middle Column -->
    <div class="middle">
      <div class="header">
        <div class="tilePage">
          <p id="TilePage">{{ title }}</p>
        </div>
        <div class="reload" (click)="reloadCurrentPage()">
          <i class="bi bi-arrow-clockwise"></i>
        </div>
      </div>

      <div class="Content_Change">
        <router-outlet></router-outlet>
        <!-- <router-outlet name="message"></router-outlet> -->
      </div>
    </div>

    <!-- Right Column -->


  </div>
</div>
